body {
  margin: 6px;
  background-color: #e1b382;
}

.header {
  display: flex;
  justify-content: center;
  color: #12343b;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  padding: 10px 15px;
  font-size: 18px;
}

.new {
  background-color: #12343b;
  color: white;
}

.sort {
  background-color: #12343b;
  color: white;
}

.error {
  color: red;
  font-size: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  border: solid 1px;
  background-color: #2d545e;
  color: white;
  border-radius: 5%;
  padding: 6px;
}

.card-title {
  font-weight: bold;
  font-size: 18px;
}

.button {
  padding: 6px 8px;
}

.edit {
  background-color: #12343b;
  color: white;
}

.delete {
  background-color: #12343b;
  color: white;
}
