* {
  box-sizing: border-box;
  background-color: #3f2860;
  color: white;
}

h1 {
  text-align: center;
}

.button-block {
  text-align: center;
}

button {
  background-color: #7a9a95;
  border-radius: 0.4rem;
  padding: 0.4rem;
  cursor: pointer;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 80%;
  gap: 1rem;
  margin: 1rem;
}

.tile-box {
  display: flex;
  flex-direction: column;
  border: white;
  border: 2px #7a9a95 solid;
  background-color: #ef6d3b;
  border-radius: 0.2rem;
  /* margin: 1rem auto; */
  padding: 1rem;
  width: 85%;
  max-width: 30rem;
}

.tile-box__inner {
  background-color: inherit;
}

.tile-box__title {
  font-size: large;
  font-weight: 700;
  text-transform: capitalize;
}

.tile-box__content {
  font-weight: 400;
  margin: 1rem auto;
}

.tile-box__time {
  align-self: flex-end;
  font-weight: 700;
}

.tile-box__inputs {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 85%;
  max-width: 30rem;
}
.tile-box__inputs input {
  background-color: #90c5a9;
  color: #3f2860;
  padding: 0.5rem;
}

.tile-box__error {
  color: #ef6d3b;
  font-size: larger;
}

.tile-box__edit {
  margin: 1rem;
}

.tile-buttons {
  align-self: flex-start;
  margin-top: 0.5rem;
}

@media (min-width: 40rem) {
  .board__big {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 80%;
    gap: 1rem;
    margin: 1rem;
  }

  .board {
    width: 25rem;
  }

  .tile-box {
    flex-wrap: wrap;
    max-width: auto;
  }
}
