body {
  margin: 6px;
}

.header {
  display: flex;
  justify-content: center;
  color: #12343b;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.error {
  color: red;
  font-size: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  border: solid 1px;
  color: #2d545e;
  border-radius: 5%;
}

.card-title {
  font-weight: bold;
  font-size: 18px;
}

.edit {
  background-color: #12343b;
  color: white;
}

.delete {
  background-color: #12343b;
  color: white;
}
